*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    text-align: center;
    margin: 7px;
    position: relative;
    right: 120px;
    font-size: 30px;
}

body{
    background-color: #f4f4fc
}

main{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

#casilla{
    display: grid;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    font-size: 15px;
    position: relative;
    resize: none;
    padding: 15px ;
}

#casilla::placeholder{
    color: rgba(6, 6, 147, 0.989);
    font-size: 25px;
}

.aviso{
    font-size: 12px;
    position: relative;
    top: 4px;
    display: flex;
    align-items: center;
}

.parte-ingreso{
    display: -ms-inline-grid;
    margin-left: 50px;
}

.enc-btn{
    position: relative;
    display: inline-block;
    width: 270px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #0A3871;
    color: white;
    margin: 15px 7px ;
    font-size: 15px;
}

.enc-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.des-btn{
    position: relative;
    display: inline-block;
    width: 270px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    margin: 15px 7px;
    margin-left: 10px;
    font-size: 15px;
}

.des-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}

#resultadoDesencriptado{
    display: none;
    position: relative;
    top: 50px;
    left: 7px;
    border: none;
    resize: none;
    font-size: 15px;
}

.parte-egreso{
    display: inline;
    position: relative;
    box-sizing: content-box;
    box-shadow: 0px 0px 5px   ;
    border-radius: 20px;  
    padding: 50px 5px;
    background-color: #FFFFFF;
    top: 00px;
    right: 200px;

} 

.parte-egreso h1{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.parte-egreso p{
    text-align: center;
    font-size: 15px;
}

#botonCopiar{
    position: relative;
    top: 150px; right: 10px;
    display: none;
    width: 270px;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    background-color: white;
    color: #0A3871;
    border: 1px solid #0A3871;
    margin: 15px 7px;
    margin-left: 30px;
    font-size: 15px;
    
}

#botonCopiar:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); 
    
}

footer{
    position: relative;
    top: 15px;
    bottom: 15px;
    left: 430px;
    font-weight: bold;
}




  